.slide_comp {
	position: relative;
	.title_container {
		display: flex;
		margin-left: 3.2vw;
		margin-bottom: 1.2vw;
		
		.title {
			color: rgb(236, 236, 236);
			font-size: 1.4vw;
			display: flex;
			
			.allsee {
				margin-left: 1vw;
				display: flex;
				align-items: center;
				color: white;
				.allseetitle {
					font-size: 1vw;
				}

							
				.allseearrow {
					position: relative;
					width: 1.1vw;
					height: 1.2vw;
					margin-left: 0.5vw;
	
					img {
						position: absolute;
						top: 0;
						width: 100%;
						height: 100%;
	
					}
				}
			}
	
		}

		.title:hover{
			cursor: pointer;
			.allsee{
				.allseearrow{
					animation: arrow 1s ease;
				}

				.allseetitle {
					animation: title 1s ease;
				}
			}
		}

	

		.slidebar {
			position: absolute;
			top: 1.5vw;
			right: 1vw;
			width: auto;
			div{
				background-color: rgb(69, 69, 69);
				width:15px;
				height: 3px;
				margin: 0 1px;
				float: left;

			}
			
			.current {
				background-color: rgb(0, 0, 0);
			}
		}
	
	}

	.slide_container {
		position: relative;
		width: 100%;

		span {
			position: absolute;
			width: 3%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			top: 0;
			background-color:rgba(0, 0, 0, 0.387);
	
			img{	
				width: 65%;
			}
		
		}
	}

}


.img_hidden {
	visibility: hidden;
}

.arrow_box:hover{
	span{
		background-color:rgba(0, 0, 0, 0.673);
	}
}


.left{
	left: 0;
	cursor: pointer;
	img{
		margin-right: 1vw;
	}
}

.right {
	right: 0;
	cursor: pointer;
	img{
		margin-left: 1vw;
	}
}



.slide_box {
	width: 94%;
	height: 100%;
	margin: 0 auto;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}
}


//16:9 비율 프레임 만들기

.slide_card {
	padding: 0 0.2vw;
	box-sizing: border-box;


	.img_wrapper {
		position: relative;
		height: 0;
		padding-top: 56.25%;
		img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 2px;
			object-fit: cover;
		}
	}
}

.slide_card:hover{
	cursor: pointer;
	z-index: 100;
	left: 0;
}


@media (max-width: 800px) {

	.slide_comp {
		
		.title_container {
			.title {
				font-size: 14px;
				.allsee {
					.allseetitle {
						font-size: 8px;
					}
					
					.allseearrow {
						width: 11px;
						height: 10px;
						margin-bottom: 0.5px;
					}
				}
			}

		
		} 
	}
}



@keyframes arrow{
  from{
		opacity: 0%;
    left: -50px;
  }
  to{
		opacity: 100%;
    left: 0;
  }
}


@keyframes title{
  from{
		opacity: 0%;
    margin-left: -10px;
  }
  to{
		opacity: 100%;
  }
}

@keyframes fadeout{
  from{
		opacity: 1;
  }
  to{
		opacity: 0;
  }
}